header {
  margin-bottom: 50px;
}

h1 {
  font-size: 120px;
  color: #b33204;
  margin: 0px 0;
  text-shadow: 2px 2px #473a36;
}

#description {
  margin: 12px 0px;
}

/* header p {
    margin-bottom: 36px;
  } */

a {
  color: #1b5e24;
  font-size: 24px;
  display: inline-block;
  margin: 0px 0px;
}

a:hover {
  text-decoration: none;
  background-color: #ceaf95;
}

ol {
  list-style: none;
  max-width: 1200px;
  margin: 36px auto 0 auto;
  padding: 0%;
}

li {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid black;
  margin: 32px;
}

h2 {
  color: #b33204;
  font-family: "Oswald", "sans-serif";
  margin-top: 0;
  text-shadow: 2px 2px #473a36;
}

@media screen and (max-width: 1890px) {
  h1 {
    font-size: 100px;
  }
}
@media screen and (max-width: 1590px) {
  h1 {
    font-size: 80px;
  }
}

main p {
  margin: 12px;
  color: #1f0f0d;
}

footer {
  font-family: "Fira Sans", sans-serif;
  font-size: 12px;
}

.container {
  position: relative;
  text-align: center;
  padding: 20px;
  width: 100%;
  height: 280px;
  border: 1px solid black;
  background-image: url("/Images/GAN00706-Edit.png");
  background-position-x: center;
  background-position-y: calc(50% + 200px);
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1320px) {
  .container {
    background-position-y: center;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
body {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
}
* {
  box-sizing: border-box;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #a15d30;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #e48240;
}

.fb-page {
  width: 1000px !important;
}

.nav-bar {
  position: absolute;
  right: 10px;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-bar-social {
  height: 30px;
  width: 30px;
  color: #b33204;
  background-color: #b33204;
  transition: background-color 0.4s linear;
}

#social-instagram {
  mask-image: url("/Images/instagram.svg");
  -webkit-mask-image: url("/Images/instagram.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  margin-right: 10px;
}

#social-facebook {
  mask-image: url("/Images/facebook.svg");
  -webkit-mask-image: url("/Images/facebook.svg");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.app {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
