img {
  width: 100%;
}
body {
  text-align: center;
  background: linear-gradient(
    126deg,
    rgba(206, 175, 149, 1) 26%,
    rgba(253, 252, 250, 1) 26%,
    rgba(255, 255, 255, 1) 51%,
    rgba(206, 175, 149, 1) 51%
  );
  margin: 50px;
  color: #691d05;
}

h1 {
  font-family: "Oswald", sans-serif;
}
p {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
}

a {
  font-family: "Oswald", sans-serif;
  color: #9e280b;
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}
